@{
    ViewBag.Title = "About";
}
    <style>
        #p1 {
            color: rgba(255,0,0,0.3);
        }
    </style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p id="p1">Use this area to provide additional information.</p>
