@{
    ViewBag.Title = "Contact";
}
    <style>
        div.relative {
            position: relative;
            width: 600px;
            height: 600px;
        }

        div.absolute {
            position: absolute;
            top: 60px;
            right: 0;
            width: 200px;
            height: 100px;
        }
    </style>
<br
/>
<h2>Yhteystiedot</h2>
<div class="relative">
    <address>
        Tennistie 2<br />
        Porvoo 06800<br />
        <abbr title="Phone">P:</abbr>
        0405656565
    </address>

    <address>
        <strong>Varaukset:</strong>   <a href="tennis.varaus@example.com">tennis.varaus@example.com</a><br />
        <strong>Info:</strong> <a href="tennis.info@example.com">tennis.info@example.com</a>
    </address>

    <div class="absolute">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.769363991003!2d25.601673854717223!3d60.34659219967218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46921e0249d484c9%3A0xa00b553b98eab00!2sHaikkoo%2C%2006400%20Porvoo!5e0!3m2!1sfi!2sfi!4v1643789603343!5m2!1sfi!2sfi" position: absolute; top: 80px; right: 0; width="600" height="450" style="border:0; border-radius: 50%;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>